::selection {
  background: rgb(118, 136, 250);
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: rgb(231, 231, 231);
  transition: background-color 0.5s, color 0.5s; /*fade into other colour*/
}

.darktoggle {
  width: 60px;
  height: 34px;
  position: absolute;
  right: 0;
  bottom: 0;
}
